SubSonic.Core.Remoting/bin/
SubSonic.Core.Extensions/obj/Debug/netstandard2.1/SubSonic.Core.Extensions.Version.cs.new
SubSonic.Core.Remoting/obj/
SubSonic.Core.Extensions/bin/
SubSonic.Core.Extensions/obj/
.vs/
SubSonic.Core.Remoting.Testing/obj/
SubSonic.Core.Remoting.Testing/bin/
